.app {
    height: 100vh;
    padding: 30px;
    text-align: center;
    position: relative;
}

.app > p {
    color: #ccc;
    font-weight: bold;
}

.btn {
    display: flex;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 9px 13px;
    cursor: pointer;
    margin: 10px 10px 10px 0;
    border-radius: 3px;
}

.btn:hover {
    background-color: RoyalBlue;
}

.close-icon {
    color: red;
    font-size: 16px !important;
    margin: 0 5px;
    cursor: pointer;
}

.todo-list {
    max-width: 500px;
    margin: 0 auto;
}

.todo {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 10px;
    font-weight: bold;

}

.add-item-form input {
    margin-bottom: 10px;
}


